In [1]:
import pandas as pd
import altair as alt
df = pd.read_excel('SeekUT_TexasData_2020.xlsx')

In [2]:
df = df[ df['degree_level'] == 'Baccalaureate']
df.groupby('inst_name')['Year1Wage_Median'].median()

inst_name
UT Arlington                              40381.0
UT Austin                                 39658.0
UT Dallas                                 45157.5
UT El Paso                                29064.0
UT Health Science Center - Houston        66993.5
UT Health Science Center - San Antonio    59003.0
UT MD Anderson Cancer Center              60165.5
UT Medical Branch - Galveston             60057.0
UT Permian Basin                          48747.5
UT Rio Grande Valley                      32839.0
UT San Antonio                            37372.0
UT Southwestern Medical Center                NaN
UT Tyler                                  36521.0
Name: Year1Wage_Median, dtype: float64

In [3]:
df_yr1 = df.groupby('inst_name')['Year1Wage_Median'].median()
df_yr5 = df.groupby('inst_name')['Year5Wage_Median'].median()
df_yr10 = df.groupby('inst_name')['Year10Wage_Median'].median()

In [4]:
summary_df = pd.concat([df_yr1, df_yr5, df_yr10], axis= 1)
summary_df = summary_df.reset_index()

In [5]:
# use df_median for the 1st visualization (line graph)
df_median = df[['inst_name', 'CIP6Title',
                'Year1Wage_Median', 'Year5Wage_Median', 'Year10Wage_Median']]

df_median.head()

,inst_name,CIP6Title,Year1Wage_Median,Year5Wage_Median,Year10Wage_Median
0,UT Arlington,Environmental Science,37991.0,NaN,NaN
1,UT Arlington,Architecture,42205.0,60935.0,74148.0
2,UT Arlington,Interior Architecture,39525.0,53368.0,62107.0
3,UT Arlington,Information Science/Studies,54515.0,75717.0,NaN
4,UT Arlington,Computer Science,72212.0,91598.0,104794.0

In [6]:
# add new records for each institution for each year's median values (summary_df) to df_median
df_median = df_median.append(summary_df)
df_median

,inst_name,CIP6Title,Year1Wage_Median,Year5Wage_Median,Year10Wage_Median
0,UT Arlington,Environmental Science,37991.0,NaN,NaN
1,UT Arlington,Architecture,42205.0,60935.0,74148.0
2,UT Arlington,Interior Architecture,39525.0,53368.0,62107.0
3,UT Arlington,Information Science/Studies,54515.0,75717.0,NaN
4,UT Arlington,Computer Science,72212.0,91598.0,104794.0
...,...,...,...,...,...
8,UT Permian Basin,NaN,48747.5,55339.0,62192.5
9,UT Rio Grande Valley,NaN,32839.0,50159.0,55327.0
10,UT San Antonio,NaN,37372.0,54082.0,60897.0
11,UT Southwestern Medical Center,NaN,NaN,77977.0,NaN
12,UT Tyler,NaN,36521.0,52448.0,62520.0

Note that the rows with CIP6Title as NaN are the summary ones with the median earnings for each institution.

In [7]:
df_median [ (df_median['Year1Wage_Median'].notna()) & (df_median['Year10Wage_Median'].notna()) & (df_median['Year5Wage_Median'].isna())]

,inst_name,CIP6Title,Year1Wage_Median,Year5Wage_Median,Year10Wage_Median
596,UT El Paso,"Music Performance, General",20952.0,NaN,53003.0

In [8]:
# there are some NAs
print (len( df_median[ df_median['Year1Wage_Median'].isna() ]) )
print (len( df_median[ df_median['Year5Wage_Median'].isna() ]))
print (len( df_median[ df_median['Year10Wage_Median'].isna() ]))

28
66
152

In [9]:
df_median = pd.melt(df_median, id_vars=['inst_name', 'CIP6Title'], 
                    value_vars=['Year1Wage_Median', 'Year5Wage_Median', 'Year10Wage_Median'])

In [10]:
df_median.head()

      inst_name                    CIP6Title          variable    value
0  UT Arlington        Environmental Science  Year1Wage_Median  37991.0
1  UT Arlington                 Architecture  Year1Wage_Median  42205.0
2  UT Arlington        Interior Architecture  Year1Wage_Median  39525.0
3  UT Arlington  Information Science/Studies  Year1Wage_Median  54515.0
4  UT Arlington             Computer Science  Year1Wage_Median  72212.0

In [11]:
df_austin = df_median [ df_median['inst_name'] == 'UT Austin' ]
len(df_austin['CIP6Title'].unique())

110

In [17]:
# sample to show the graph
df_sample = df_austin[ (df_austin['CIP6Title'].isin(['Architecture', 'Accounting', 'Public Health, General']) ) ].reset_index(drop=True)
df_sample

   inst_name               CIP6Title           variable    value
0  UT Austin            Architecture   Year1Wage_Median  51082.0
1  UT Austin  Public Health, General   Year1Wage_Median  31860.0
2  UT Austin              Accounting   Year1Wage_Median  50528.0
3  UT Austin            Architecture   Year5Wage_Median  61261.0
4  UT Austin  Public Health, General   Year5Wage_Median  53758.0
5  UT Austin              Accounting   Year5Wage_Median  81402.0
6  UT Austin            Architecture  Year10Wage_Median  72783.0
7  UT Austin  Public Health, General  Year10Wage_Median      NaN
8  UT Austin              Accounting  Year10Wage_Median  95249.0

In [19]:
# convert year 1 wage to just a number of 1... make it continuous?

for i in range(0, len(df_sample)):
    if df_sample.loc[i, 'variable'] == 'Year1Wage_Median':
        df_sample.loc[i, 'variable'] = 1
    elif df_sample.loc[i, 'variable'] == 'Year5Wage_Median':
        df_sample.loc[i, 'variable'] = 5
    else:
        df_sample.loc[i, 'variable'] = 10
    
df_sample

   inst_name               CIP6Title variable    value
0  UT Austin            Architecture        1  51082.0
1  UT Austin  Public Health, General        1  31860.0
2  UT Austin              Accounting        1  50528.0
3  UT Austin            Architecture        5  61261.0
4  UT Austin  Public Health, General        5  53758.0
5  UT Austin              Accounting        5  81402.0
6  UT Austin            Architecture       10  72783.0
7  UT Austin  Public Health, General       10      NaN
8  UT Austin              Accounting       10  95249.0

In [20]:
alt.Chart(df_sample).mark_line(point = True).encode(
    x='variable',
    y='value:Q',
    color='CIP6Title:N'
).properties(width = 300)

alt.Chart(...)

# Visualization 2

In [60]:
df_industry = df[['inst_name', 'CIP6Title','CIP2Title', 'STEMStatus',
                'Year1Wage_Median', 'Year5Wage_Median', 'Year10Wage_Median']]

df_industry.head()
df_ind_austin = df_industry [ df_industry['inst_name'] == 'UT Austin' ]
df_ind_austin.head()

,inst_name,CIP6Title,CIP2Title,STEMStatus,Year1Wage_Median,Year5Wage_Median,Year10Wage_Median
137,UT Austin,Architecture,Architecture And Related Services,NON-STEM,51082.0,61261.0,72783.0
138,UT Austin,American/United States Studies/Civilization,"Area, Ethnic, Cultural, Gender, And Group Studies",NON-STEM,40120.0,54350.0,59573.0
139,UT Austin,Asian Studies/Civilization,"Area, Ethnic, Cultural, Gender, And Group Studies",NON-STEM,33091.0,51078.0,75220.0
140,UT Austin,European Studies/Civilization,"Area, Ethnic, Cultural, Gender, And Group Studies",NON-STEM,NaN,56837.0,NaN
141,UT Austin,Latin American Studies,"Area, Ethnic, Cultural, Gender, And Group Studies",NON-STEM,37175.0,49719.0,69476.0

In [77]:
alt.data_transformers.disable_max_rows()
len(df_austin)
df_austin.tail()


interval = alt.selection_single(on='click', encodings=['x'])
chart = alt.Chart(df_ind_austin).mark_bar().encode(
    x = alt.X('CIP2Title:O', axis=alt.Axis(title='Industry')),
    y = alt.Y('mean(Year5Wage_Median):Q', axis=alt.Axis(title='Salary')),
    color=alt.condition(interval, 'STEMStatus:N', alt.value('lightgray')),
    tooltip = ['mean(Year5Wage_Median):Q','CIP2Title:O']
).properties(
    title = "Salary Distribution by Industry",
).add_selection(
#     select_year,
    interval
)
# .transform_filter(
#     select_year
# )

# df_austin_dist = df_austin['CIP6Title'].unique()
# df_austin_dist.head()


hist = alt.Chart(df_ind_austin).mark_bar().encode(
    x= alt.X('Year5Wage_Median:Q', axis=alt.Axis(title='Salary')),
    y=alt.Y('CIP6Title:O', axis=alt.Axis(title='Major')),
    color=alt.Color('STEMStatus:N')
).transform_filter(
    interval
).properties(
    title='Distribution of Salaries of Majors for Above Selection'
)
chart & hist

#instead of slider, make radio buttons

alt.VConcatChart(...)